@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size: 16px;
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;
  --primary: 165 100% 50%;
  --primary-foreground: 0 0% 0%;
  --secondary: 355 78% 45%;
  --secondary-foreground: 0 0% 100%;
  --accent: 165 100% 50%;
  --accent-foreground: 0 0% 0%;
  --card: 0 0% 4%;
  --card-foreground: 0 0% 100%;
  --muted: 0 0% 10%;
  --muted-foreground: 0 0% 53%;
  --border: 0 0% 20%;
  --input: 0 0% 20%;
  --ring: 165 100% 50%;
  --radius: 0.75rem;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 100%;
  --popover: 0 0% 4%;
  --popover-foreground: 0 0% 100%;

  /* App Specific Colors */
  --mb-black: #000000;
  --mb-cyan: #00FFCC;
  --mb-red: #E61E2E;
  --mb-gray-dark: #0A0A0A;
  --mb-gray-light: #1F1F1F;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    font-size: var(--font-size);
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
  }

  h3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5;
  }

  h4 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
  }

  label, button {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
  }

  input {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
